<div class="grid-container">
  {{#each products}}
    <div class="product">
      <h2>{{name}}</h2>
      <p>{{description}}</p>
      <p>{{price}}</p>
      <p>{{category.name}}</p>
    </div>
  {{/each}}
</div>