<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Flower Emporium</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="../css/jass.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b1d2f96354.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
         <img class="logo" src="../images/logo.png" alt="Flower Emporium Logo">
        <nav>
            <li><div class="dropdown">
                <button class="dropbtn category">Shop <i class="fa-solid fa-angle-down"></i></button>
                <div class="dropdown-content">
                  <button id="flowers">Flowers</button>
                  <button id="plants">Plants</button>
                  <button id="planters">Planters</button>
                  <button id="homeDecor">Home Decor</button>
                </div>
              </div></li>
            {{#if logged_in}}
            <li><button id="logout"><i class="fa-regular fa-user"></i> Logout</button></li>
            {{else}}
            <li><button id="login"><i class="fa-regular fa-user"></i> Login</button></li>
            {{/if}}
            <li><button id="cart"><i class="fa-solid fa-bag-shopping"></i></button></li>
            <li><button id="about">About</button></li>
        </nav>
    </header>

    <section>
        {{{body}}}
    </section>
    
    {{!-- {{> login}} --}}

    {{!-- {{> product}} --}}

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xl-12">
                    <h4>About Us</h4>
                    <p>We are a company dedicated to providing high-quality products to our customers.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xl-12">
                    <h4>Connect with Us</h4>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xl-12">
                    <h4>Latest Tweets</h4>
                    <div class="tweets">
                        <!-- Twitter API code goes here -->
                    </div>
                </div>
            </div>
        </div>  
    </footer>

    <script src="../js/index.js"></script>
</body>
</html>