<div class="category-text">
    <h5>Bloomfields</h5>
    <p>This website is based on a local Ottawa Business called Bloomfields. Please check out their website at <a href="https://www.bloomfields.ca/">https://www.bloomfields.ca/</a></p>
</div>