<section>
    <div class="header-image-container">
            <img class="hero" src="./assets/hero.jpg" alt="">
            <img src="./assets/banner-imageOct2020.webp" alt="Header Image">
            <img src="./assets/F3AAC692-2552-4E81-AA7E-D177B46745AD.jpg" alt="Header Image">
            <img src="./assets/0D1F4FE9-EB8A-4A57-8041-824734D62542_750x.webp" alt="Header Image">
    </div>
        
    <div class="grid-container">
     {{>products}}
     <button id="load-more">Load More</button>
     <div id="remaining-products"></div>
    </div>

</section>
