<img class="hero" src="../images/hero1.jpg" alt="">

<div class="category-text">
    <p>Our vision is to contribute towards a meaningful life for every person in every home by championing the union of contemporary design with the natural world.</p>
    <h5>Shop our Collections</h5>
</div>

<section class="card-container">

        <div class="card" data-content="Flowers">
            <img class="tile" src="../images/flowers.jpg" alt="">
        </div>

        <div class="card" data-content="Plants">
            <img class="tile" src="../images/plants.jpg" alt="">
        </div>

        <div class="card" data-content="Planters">
            <img class="tile" src="../images/baby.jpg" alt="">
        </div>

        <div class="card" data-content="Home Decor">
            <img class="tile" src="../images/homeDecor.jpg" alt="">
        </div>

</section>


