<div class="container">
    <form class="form" id="login-form">
      <h2>Login</h2>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <button class="button" id="login-btn" type="submit">Login</button>
    </form>
  </div>

  <button id="signup-btn" class="button">Sign Up</button>


  <script src="../js/login.js"></script>