<div class="user-container">
    <form class="form" id="login-form">
      <h2>Login</h2>
      <div class="input-field">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      </div>
      <div class="input-field">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      </div>
      <button class="button" id="login-btn" type="submit">Login</button>
    </form>

    <button id="signup-btn" class="button">Sign Up</button>
  </div>

  


  <script src="../js/login.js"></script>