body{
    background-color: rgb(249, 240, 234);
}

header{
    /* position: fixed; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 225, 213);
    width: 100%;
}

.logo{
    margin-left: 10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

li{
    font-family: 'Rubik', sans-serif;
    float: left;
    list-style: none;
    display: block;
    padding: 16px;
    text-decoration: none;
}

li button{
    color: black;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor: pointer; */
	outline: inherit;
}

li button:hover{
  opacity: 0.3;
}

.hero {
    width: 100%;
}

.category-info{
    text-align: center;
}

h2{
    font-family: 'Rubik', sans-serif;
}

.card-container{
    display: flex;
    margin-left: 250px;
    margin-right: 200px;
    flex-wrap: wrap;
}

.card{
    margin-left: 15px;
    border: none;
    position: relative;
}

.tile{
    height: 200px;
    width: 200px;
    transition: opacity 0.3s;
}

.card img:hover{
    opacity: 0.3;
    transition: opacity 0.3s;
}

.card:hover:after{
    align-items: center;
    content: attr(data-content);
    position: absolute;
    left:80px;
    top: 80px;
    pointer-events: none;
}

/* drop down */

/* Dropdown Button */
.dropbtn {
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(244, 225, 213);
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content button:hover {
    opacity: 0.4;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:rgb(244, 225, 213);
    background-size: cover;
    background-size: cover;
    width: 100%;

  }


  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color:rgb(244, 225, 213);
    background-size: cover;
    background-size: cover;
    width: 100%;
    border-radius: 1px;
    animation: mymove 5s infinite;

  }

  @keyframes mymove {
    from {background-color: rgb(239, 221, 221);}
    to {background-color: rgb(140, 140, 225);}
  }


  
  .grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 150px 150px; /*Make the grid smaller than the container*/
    gap: 40px;
    padding: 30px;
    height: auto;
    font-size: 14px;
    align-items: center;
  }
  


  .footer-section {
    background-color: rgb(249, 240, 234);
    padding: 50px 0;
  }
  
  .footer-section h4 {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
    color: black;
  }
  
  .footer-section p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Facebook icon color */
ul li:nth-child(1) a i {
  color: #3b5998; /* Facebook blue */
}

/* Twitter icon color */
ul li:nth-child(2) a i {
  color: #1da1f2; /* Twitter blue */
}

/* Instagram icon color */
ul li:nth-child(3) a i {
  color: #e1306c; /* Instagram pink */
}

/* Youtube icon color */
ul li:nth-child(4) a i {
  color: #ff0000; /* Youtube red */
}


  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #c9c7c7;
    color: #1111c2;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
  }
  
  .social-icons li a  {
    color: black; 
    font-size: 24px;
  }

  .social-icons li a[href*="youtube.com"] i {
    color: red;
  }

  .tweets {
    /* styles for tweets */
  }

  .category-text{
    margin-top: 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }

  .product-img{
    display: inline-block;
    max-width: 400px;
    max-height: 400px;
    margin-top: 10px;
    margin-left: auto;
  }

  .product-details{
    display: inline;
  }

  .add-cart{
    border: none;
    background-color: white;
    width: 150px;
    height: 40px;
  }

  .add-cart:hover{
    background-color: grey;
    transition: background-color 0.3s;
  }